# --- API keys / secrets ---
# Apca Api Key Id (string)
APCA_API_KEY_ID=<string>
# APCA API SECRET key (string)
APCA_API_SECRET_KEY=<string>
# Dashboard Password (string)
DASHBOARD_PASSWORD=<string>

# --- Database ---
# Database URL (url)
DATABASE_URL=<url>

# --- Other ---
# Tz (string)
TZ=<string>